[submodule "util/color-control"]
	path = util/color-control
	url = git@github.com:EssentialBlocks/color-control.git
[submodule "util/dimensions-control"]
	path = util/dimensions-control
	url = git@github.com:EssentialBlocks/dimensions-control.git
[submodule "util/gradient-color-controller"]
	path = util/gradient-color-controller
	url = git@github.com:EssentialBlocks/gradient-color-controller.git
[submodule "util/image-avatar"]
	path = util/image-avatar
	url = git@github.com:EssentialBlocks/image-avatar.git
[submodule "util/typography-control"]
	path = util/typography-control
	url = git@github.com:EssentialBlocks/typography-control.git
[submodule "util/unit-control"]
	path = util/unit-control
	url = git@github.com:EssentialBlocks/unit-control.git
[submodule "util/toggle-button"]
	path = util/toggle-button
	url = https://github.com/EssentialBlocks/toggle-button.git
[submodule "util/style-handler"]
	path = util/style-handler
	url = git@github.com:EssentialBlocks/style-handler.git
[submodule "lib/style-handler"]
	path = lib/style-handler
	url = git@github.com:EssentialBlocks/style-handler.git
[submodule "util/dimensions-control-v2"]
	path = util/dimensions-control-v2
	url = git@github.com:EssentialBlocks/dimensions-control-v2.git
[submodule "util/typography-control-v2"]
	path = util/typography-control-v2
	url = git@github.com:EssentialBlocks/typography-control-v2.git
[submodule "dimensions-control-v2"]
	path = dimensions-control-v2
	url = git@github.com:EssentialBlocks/dimensions-control-v2.git
[submodule "util/responsive-range-control"]
	path = util/responsive-range-control
	url = https://github.com/EssentialBlocks/responsive-range-control
